 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>关于车辆093班</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>我们是大连交通大学2009级车辆工程三班，共29人，其中有4位大美女。我们来自全国各地，绝大部分是在东北三省，大连本地痞子、大智，西北代表刘涛、啊飞，李伟, 江浙土豪代表跳跳、周宇。。。。。。。</p>
                </div>
                <div class="col-lg-4">
                    <p>我们是一个团结的集体，经常组织一起出去活动，最值得纪念的是去爬大连大黑山，我们选择了一个偏僻的路径，成功逃掉门票，整个过程有说有唱，非常开心。</p>
                </div>
            </div>
        </div>
    </section>
